@import "tailwindcss";
.image {
    background-image: url("../pages/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img{
background-image: url("../pages/ads.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.img1{
    background-image: url("../pages/ke.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img2{
    background-image: url("../pages/login\ bac.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}